#acf_7 .inside #acf-gia,
#acf_7 .inside #acf-price_sale_off,
#acf_7 .inside #acf-time_promotion_from,
#acf_7 .inside #acf-time_promotion_to {
  position: relative;
  padding-left: 180px;
  padding-top: 5px;
  border: none;
  padding-bottom: 5px;
}
#acf_7 .inside #acf-gia p.label,
#acf_7 .inside #acf-price_sale_off p.label,
#acf_7 .inside #acf-time_promotion_from p.label,
#acf_7 .inside #acf-time_promotion_to p.label {
  width: 170px;
  position: absolute;
  left: 0;
  text-align: right;
  padding-right: 10px;
  padding-top: 2px;
}
#acf_7 .inside #acf-gia input,
#acf_7 .inside #acf-price_sale_off input,
#acf_7 .inside #acf-time_promotion_from input,
#acf_7 .inside #acf-time_promotion_to input {
  margin-bottom: 2px;
}
#acf_7 .inside #acf-gia {
  margin-top: 15px;
}
#acf_7 .inside #acf-time_promotion {
  margin-bottom: 15px;
}
#user-1 {
  display: none;
}
.acf-gallery .thumbnail {
  width: 100px;
  height: 100px;
}
.acf-gallery .thumbnail .inner {
  height: 100%;
  overflow: hidden;
}
.acf-gallery .thumbnail .inner img {
  width: 100%;
  height: auto;
}
.acf-gallery.view-list .thumbnail {
  width: auto;
  height: auto;
}
